{% extends 'base.html' %}
{% block content %}
    <!-- Comment Form -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="mx-auto max-w-2xl">
      <div class="text-center">
        <h2 class="text-xl text-gray-800 font-bold sm:text-3xl :text-white">
          Contribute to our knowledge repository
        </h2>
        <p class="text-sm mt-4 text-gray-600">Help voyagers in need.</p>
      </div>
  
      <!-- Card -->
      <div class="mt-5 p-4 relative z-10 bg-white border rounded-xl sm:mt-10 md:p-10 :bg-gray-800 :border-gray-700">
        <form action="/contribute-data" method="post" enctype="multipart/form-data">
          <div class="mb-4 sm:mb-8">
            <label for="hs-feedback-post-comment-name-1" class="block mb-2 text-sm font-medium :text-white">Title</label>
            <input name="title" type="text" id="hs-feedback-post-comment-name-1" class=" transition-all py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 sm:p-4 :bg-gray-800 :border-gray-700 :text-gray-400" placeholder="Title">
          </div>


  
          <div class="mb-4 sm:mb-8">
            <label class="block">
                <span class="mb-4 font-medium">Image</span>
                <input name="image" type="file" accept='image/*' class=" transition-all block w-full text-sm text-gray-500 mt-2 hover:cursor-pointer
                  file:mr-4 file:py-2 file:px-4
                  file:rounded-md file:border-0
                  file:text-sm file:font-medium
                  file:bg-[#243E36] file:text-white
                  hover:file:bg- cursor-pointer
                "/>
              </label>
          </div>

          <select name="category" class="mb-8 py-3 px-4 pr-9 w-full border border-gray-200 rounded-md text-sm transition-all focus:border-blue-500 focus:ring-blue-500">
            <option selected>Select category</option>
            <option>Encounter</option>
            <option>Observation</option>
            <option>Article</option>
          </select>
  
          <div>
            <label for="hs-feedback-post-comment-textarea-1" class="block mb-2 text-sm font-medium :text-white">Content</label>
            <div class="mt-1">
              <textarea name="content" id="hs-feedback-post-comment-textarea-1" name="hs-feedback-post-comment-textarea-1" rows="10" class="py-3 px-4 block w-full transition-all border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 sm:p-4 :bg-gray-800 :border-gray-700 :text-gray-400" placeholder="Content"></textarea>
            </div>
          </div>
  
          <div class="mt-6 grid">
            <button type="submit" class="py-2 px-2 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-medium bg-[#243E36] text-white hover:bg- focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all :focus:ring-offset-gray-800">Proceed -></button>
          </div>
        </form>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Comment Form -->
{% endblock content %}