{% extends 'base.html' %}
{% block content %}
    <!-- Hero -->
<div class="relative overflow-hidden before:absolute before:top-0 before:left-1/2 before:bg-[url('../svg/component/squared-bg-element.svg')] before:bg-no-repeat before:bg-top before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2 :before:bg-[url('../svg/component/squared-bg-element-.svg')]">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
      <!-- Announcement Banner -->
      <div class="flex justify-center">
        <a class="inline-flex items-center gap-x-2 bg-white border border-gray-200 text-xs text-gray-600 p-2 px-3 rounded-full transition hover:border-gray-300 :bg-gray-800 :border-gray-700 :hover:border-gray-600 :text-gray-400" href="#">
          Explore our new knowledge repository
          <span class="flex items-center gap-x-1">
            <span class="border-l border-gray-200 text-[#243E36] pl-2 :text-blue-500">Explore</span>
            <svg class="w-2.5 h-2.5 text-[#243E36]" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
            </svg>
          </span>
        </a>
      </div>
      <!-- End Announcement Banner -->
  
      <!-- Title -->
      <div class="mt-5 max-w-xl text-center mx-auto">
        <h1 class="block font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#E0EEC6] to-[#243E36] h-[8rem] sm:h[4rem] text-4xl md:text-5xl lg:text-6xl ">
          Nuxeland. Supercharged.
        </h1>
      </div>
      <!-- End Title -->
  
      <div class="mt-5 max-w-3xl text-center mx-auto">
        <p class="text-lg text-gray-600 :text-gray-400">Astral is built by veterans, ensuring your safety in the realms of Nuxeland.</p>
      </div>
  
      <!-- Buttons -->
      <div class="mt-8 grid gap-3 w-full sm:inline-flex sm:justify-center">
        <button class="px-6 py-3 bg-[#243E36] text-white rounded-lg font-medium text-lg"> Get Started -></button>
      </div>
      <!-- End Buttons -->
    </div>
  </div>
  <section class="py-10 bg-white sm:py-16 lg:py-24">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="max-w-2xl mx-auto text-center">
            <h2 class="text-3xl font-bold leading-tight text-[#243E36] sm:text-4xl lg:text-5xl">How to get started?</h2>
            <p class="max-w-lg mx-auto mt-4 text-base leading-relaxed text-gray-600">Get set up now within 4 simple steps.</p>
        </div>

        <div class="relative mt-12 lg:mt-20">
            <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28">
                <img class="w-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/steps/2/curved-dotted-line.svg" alt="" />
            </div>

            <div class="relative grid grid-cols-1 text-center gap-y-12 md:grid-cols-4 gap-x-12">
                <div>
                    <div class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow">
                        <span class="text-xl font-semibold text-gray-700"> 1 </span>
                    </div>
                    <h3 class="mt-6 text-xl font-semibold leading-tight text-black md:mt-10">Create a free account</h3>
                    <p class="mt-4 text-base text-gray-600">Sign up to Astral and start your journey in Nuxeland.</p>
                </div>

                <div>
                    <div class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow">
                        <span class="text-xl font-semibold text-gray-700"> 2 </span>
                    </div>
                    <h3 class="mt-6 text-xl font-semibold leading-tight text-black md:mt-10">Explore our vast repository</h3>
                    <p class="mt-4 text-base text-gray-600">Read articles, explore discoveries and encounters with our knowledge repository.</p>
                </div>

                <div>
                    <div class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow">
                        <span class="text-xl font-semibold text-gray-700"> 3 </span>
                    </div>
                    <h3 class="mt-6 text-xl font-semibold leading-tight text-black md:mt-10">Use our tools</h3>
                    <p class="mt-4 text-base text-gray-600">Navigate, and allocate resources efficiently throughout your journey in Nuxeland, using our powerful yet simple-to-use tools.</p>
                </div>

                <div>
                    <div class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow">
                        <span class="text-xl font-semibold text-gray-700"> 4 </span>
                    </div>
                    <h3 class="mt-6 text-xl font-semibold leading-tight text-black md:mt-10">Return safely</h3>
                    <p class="mt-4 text-base text-gray-600">Follow our tips, and return safely to the comfort of your own home.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-10 sm:py-16 lg:py-24">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto text-center">
          <h2 class="text-3xl font-bold leading-tight text-[#243E36] sm:text-4xl lg:text-5xl">Why Choose Us?</h2>
          <p class="max-w-lg mx-auto mt-4 text-base leading-relaxed text-gray-600">Discover why Astral is the best choice for your journey in Nuxeland.</p>
      </div>

      <!-- Why Us Features -->
      <div class="grid grid-cols-1 gap-12 my-20 sm:grid-cols-2 lg:grid-cols-3">
          <!-- Feature 1 -->
          <div class="flex flex-col items-center justify-center text-center">
            <i data-lucide="archive" class="w-24 h-24 text-[#243E36]"></i>
              <h3 class="text-xl font-semibold text-[#243E36] mt-4">Knowledge Repository</h3>
              <p class="mt-2 text-gray-600">Benefit from our vast knowledge repository to lead you through the unknown realms.</p>
          </div>
          <!-- Feature 2 -->
          <div class="flex flex-col items-center justify-center text-center">
            <i data-lucide="zap" class="h-24 w-24 text-[#243E36]"></i>
              <h3 class="text-xl font-semibold text-[#243E36] mt-4">Cutting-edge Technology</h3>
              <p class="mt-2 text-gray-600">Access modern tools and technology designed for your safety and convenience.</p>
          </div>
          <!-- Feature 3 -->
          <div class="flex flex-col items-center justify-center text-center">
              <i data-lucide="area-chart" class="w-24 h-24 text-[#243E36]"></i>
              <h3 class="text-xl font-semibold text-[#243E36] mt-4">Data Analysis</h3>
              <p class="mt-2 text-gray-600">Connect with a strong community offering support and shared experiences.</p>
          </div>
      </div>
  </div>
</section>
<div class="my-24 sm:my-32">
  <svg class="w-auto h-4 mx-auto text-gray-300" viewBox="0 0 172 16" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 11 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 46 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 81 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 116 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 151 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 18 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 53 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 88 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 123 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 158 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 25 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 60 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 95 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 130 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 165 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 32 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 67 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 102 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 137 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 172 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 39 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 74 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 109 1)" />
      <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 144 1)" />
  </svg>
</div>
{% endblock content %}