
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Leaflet Map with GeoJSON Data</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 600px;
        }
    </style>
</head>

<body>
    <div id="map" class="mt-8 mx-auto w-11/12 lg:w-10/12 xl:w-9/12 z-20"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder@1.13.0/dist/Control.Geocoder.js"></script>

    <script>
        const map = L.map('map', {
             crs: L.CRS.Simple
        });
        const bounds = [[0,0], [1000,1000]];
        const image = L.imageOverlay('../static/uploads/map.png', bounds).addTo(map);
        const exitPortalLocation = L.latLng(
            Math.random() * (bounds[1][0] - bounds[0][0]) + bounds[0][0],
            Math.random() * (bounds[1][1] - bounds[0][1]) + bounds[0][1]
        );
        const startPoint = L.latLng(500, 500); // Custom coordinates
        const endPoint = {...exitPortalLocation}; // Custom coordinates
        map.fitBounds(bounds);

        const distanceIcon = L.divIcon({
            className: 'custom-div-icon',
            html: '',
            iconSize: [100, 36]
        });

        const midpoint = L.latLng((startPoint.lat + endPoint.lat) / 2, (startPoint.lng + endPoint.lng) / 2);

        const distanceMarker = L.marker(
            [midpoint.lat, midpoint.lng], // Adjust position as needed
            { icon: distanceIcon }
        ).addTo(map);

        const startMarker = L.marker(startPoint, { draggable: true }).addTo(map);


        // Create a straight line between the two points

        // Fit the map to the bounds of the image overlay

        // Add event listeners to update the line when markers are dragged
        const exitPortalMarker = L.marker(exitPortalLocation).addTo(map);
        const endMarker = L.marker(endPoint, { draggable: true }).addTo(map);
        startMarker.on('drag', updateLine);
        endMarker.on('drag', updateLine);
        const line = L.polyline([startMarker.getLatLng(), endMarker.getLatLng()], { color: '#4A89F3' }).addTo(map);

        exitPortalMarker.bindTooltip('Exit Portal', {
            direction: 'top', // Tooltip direction
            permanent: true,   // Display the tooltip permanently (can be adjusted)
        }).openTooltip();

        updateLine()
        map.fitBounds(bounds);

        {% if True %} 
        for (let i = 0; i<2;i++) {
            let food = L.latLng(
            Math.random() * (bounds[1][0] - bounds[0][0]) + bounds[0][0],
            Math.random() * (bounds[1][1] - bounds[0][1]) + bounds[0][1]);
            let safe_base = L.latLng(
            Math.random() * (bounds[1][0] - bounds[0][0]) + bounds[0][0],
            Math.random() * (bounds[1][1] - bounds[0][1]) + bounds[0][1]);

            const food_m = L.marker(food).addTo(map);
            const safe_m = L.marker(safe_base).addTo(map);

            food_m.bindTooltip('Food', {
                direction: 'top', // Tooltip direction
                permanent: true,   // Display the tooltip permanently (can be adjusted)
            }).openTooltip();

            safe_m.bindTooltip("Safe Base", {
                direction: "top",
                permanent: true
            }).openTooltip()
        }
        {% endif%}

        // Function to update the line when markers are dragged
        function updateLine() {
            const startLatLng = startMarker.getLatLng();
            const endLatLng = endMarker.getLatLng();
            line.setLatLngs([startLatLng, endLatLng]);

            // Calculate the distance between the markers (using Leaflet's haversineDistance)
            const distance = startLatLng.distanceTo(endLatLng);
            const newMidpoint = L.latLng((startLatLng.lat + endLatLng.lat) / 2, (startLatLng.lng + endLatLng.lng) / 2);
            distanceMarker.setLatLng(newMidpoint);
            // Update the content of the distance marker
            distanceMarker.setIcon(
                L.divIcon({
                    className: 'custom-div-icon',
                    html: `<div style="color: white; text-align: center;">${(distance / 1000000).toFixed(2)} km</div>`,
                    iconSize: [100, 36]
            })
    );
}

    </script>
</body>
</html>
{% endblock content %}