{% extends 'base.html' %}
{% block content %}
    <!-- Blog Article -->
    <div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
        <div class="max-w-2xl">
            <!-- Avatar Media -->
            <div class="flex justify-between items-center mb-6">
                <div class="flex w-full sm:items-center gap-x-5 sm:gap-x-3">
                    <div class="flex-shrink-0">
                        <button class="relative z-10 block p-2 text-gray-700 bg-white w-10 h-10 border rounded-full">
                            {{post.author[0]}}
                        </button>
                    </div>

                    <div class="grow">
                        <div class="grid sm:flex sm:justify-between sm:items-center gap-2">
                            <div>
                                <!-- Tooltip -->
                                <div class="hs-tooltip inline-block [--trigger:hover] [--placement:bottom]">
                                    <div class="hs-tooltip-toggle sm:mb-1 block text-left">
                                        <span class="font-semibold text-gray-800 :text-gray-200">
                                            {{post.author}}
                                        </span>
                                    </div>
                                </div>
                                <!-- End Tooltip -->

                                <ul class="text-xs text-gray-500">
                                    <li class="inline-block relative pr-6 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-2 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full :text-gray-400">
                                        {{post.created_at.strftime('%b %d')}}
                                    </li>
                                    <li class="inline-block relative pr-6 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-2 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full :text-gray-400">
                                        {% set word_count = post.content.split() | length %}
                                        {% set words_per_minute = 200 %} {# Adjust this value as needed #}
                                        {% set reading_time = (word_count / words_per_minute) %}
                                        {% if reading_time < 1 %}
                                            Less than a minute read
                                        {% else %}
                                            {{ "%d min read"|format(reading_time) }}
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Avatar Media -->

            <!-- Content -->
            <div class="space-y-5 md:space-y-8">
                <div class="space-y-3">
                    <h2 class="text-2xl font-bold md:text-3xl :text-white">{{post.title}}</h2>

                    <p class="text-lg text-gray-800 :text-gray-200">{{post.content}}</p>
                </div>

                <figure>
                    <img class="w-full object-cover rounded-xl" src="/static/uploads/{{post.image}}" alt="Image Description">
                </figure>
            </div>
            <!-- End Content -->
        </div>
    </div>
    <!-- End Blog Article -->

    <!-- Comments Section -->
    <div id="commentModal" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-75 flex justify-center items-center hidden">
      <div class="bg-white p-6 rounded-lg">
          <span class="block text-right cursor-pointer text-2xl" onclick="toggleCommentModal()">&times;</span>
          <h3 class="text-2xl font-bold mb-4">Comments</h3>
          <ul id="commentList" class="divide-y divide-gray-300">
             {% for i in post.comments %}
                {{i.author}} said {{i.content}} at {{i.created_at.strftime('%H:%M')}}, {{i.created_at.strftime('%b %d')}}<br>
                {% if i.author == current_user.username %}
                    <button class="bg-[#243E36] text-white py-2 px-4 rounded-md hover:bg-blue-700">Delete</button>
                {% endif %}<br>
             {% endfor %}
          </ul>
          <!-- Input box to add comments -->
          <div class="mt-4 flex">
              <input name="comment" id="commentInput" type="text" class="flex-grow border border-gray-300 rounded p-2 mr-2" placeholder="Add a comment">
              <button class="bg-[#243E36] text-white py-2 px-4 rounded-md hover:bg-blue-700" id="commentBtn" onclick="addComment()">Add Comment</button>
          </div>
      </div>
  </div>
    <!-- End Comments Section -->

    <!-- Sticky Share Group -->
    <div class="sticky bottom-6 inset-x-0 text-center">
        <div class="inline-block bg-white shadow-md rounded-full py-3 px-4 :bg-gray-800">
            <div class="flex items-center gap-x-1.5">
                <!-- Like Button -->
                <div class="inline-block hs-like-button">
                    <button type="button" id="likeButton" class="hs-like-toggle flex items-center gap-x-2 text-sm {% if has_user_liked %}
                        text-red-500
                        {% else %}
                        text-gray-500
                    {% endif %}" {{'disabled' if has_user_liked }}>
                        <i data-lucide="heart" class="w-4 h-4"></i>
                        <span id="likeCount">{{post.likes | length}}</span>
                    </button>
                </div>
                <!-- Like Button -->

                <div class="block h-3 border-r border-gray-300 mx-3 :border-gray-600"></div>

                <!-- Comment Button with JavaScript -->
                <div class="hs-tooltip inline-block">
                    <a href="#comments" class="hs-tooltip-toggle flex items-center gap-x-2 text-sm text-gray-500 hover:text-gray-800 :text-gray-400 :hover:text-gray-200" onclick="toggleCommentModal()">
                        <i data-lucide="message-circle" class="h-4 w-4"></i>
                        {{post.comments | length}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const likeButton = document.getElementById('likeButton');
        const likeCount = document.getElementById('likeCount');
        let hasUserLiked = {{has_user_liked | lower}}

        likeButton.addEventListener('click', async () => {
            if (hasUserLiked) {
                return;
            }

            const currentLikeCount = parseInt(likeCount.innerText);

            try {
                const response = await fetch('/likepost/{{post.id}}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    // Add any required payload here
                });

                if (response.ok) {
                    hasUserLiked = true;
                    likeButton.classList.add('text-red-500');
                    likeCount.innerText = currentLikeCount + 1;
                } else {
                    // If there's an error, revert the like count
                    likeCount.innerText = currentLikeCount;
                }
            } catch (error) {
                // Revert the like count if there is a network error
                likeCount.innerText = currentLikeCount;
                console.error('Error:', error);
            }
        });

        function toggleCommentModal() {
            const commentModal = document.getElementById('commentModal');
            commentModal.classList.toggle('hidden');
        }

        async function addComment() {
            const commentInput = document.getElementById('commentInput');
            const comment = commentInput.value;
            const btn = document.getElementById('commentBtn')

            if (comment) {
                btn.textContent = 'Adding...'
                const commentList = document.getElementById('commentList');
                const commentItem = document.createElement('li');
                commentItem.textContent = comment;
                commentList.prepend(commentItem);

                try {
                    const response = await fetch('/addcomment/{{post.id}}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ comment }),
                    });

                    if(response.ok) btn.textContent = 'Add Content'

                    if (!response.ok) {
                        // Roll back the UI changes if there's an error
                        commentItem.remove();
                    }
                } catch (error) {
                    // Roll back the UI changes in case of a network error
                    commentItem.remove();
                    console.error('Error:', error);
                }

                // Clear the input box after adding the comment
                commentInput.value = '';
            }
        }
    </script>
{% endblock content %}
